<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"	>
 
<h:head>
</h:head>
 
<ui:composition template="/template/layoutBase.xhtml">
 
	<ui:define name="content">
 
		<p:dialog header="Editar cadastro de pessoa" 
				  id="dialog-modal-editar" 
		   		  widgetVar="dialog-modal-editar" 
		   		  modal="true" 
		   		  height="400px"
		   		  width="550px">
 
    		 <ui:include src="/sistema/editarPessoa.xhtml"/>
 
 
		</p:dialog>
 
		<h:form style="margin:auto;margin-left:2%;" id="form-consulta">
 
			<p:dataTable id="dataTable-registros"
						 var="pessoa" 
						 value="#{consultarPessoaController.pessoas}" 
						 rows="15"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         style="width:98%;">
 
					<p:column headerText="Código">
            				<h:outputText value="#{pessoa.codigo}" />
        				 </p:column>
 
        				 <p:column headerText="Nome">
            				<h:outputText value="#{pessoa.nome}" />
        				 </p:column>
 
        				 <p:column headerText="Sexo">
            				<h:outputText value="#{pessoa.sexo}" />
        				 </p:column>
 
        				 <p:column headerText="Cadastro">
            				<h:outputText value="#{pessoa.dataCadastro}">            					
            					<f:convertDateTime  pattern="dd/MM/yyyy HH:mm:ss"/>
            				</h:outputText>
        				 </p:column>
 
        				 <p:column headerText="Email" style="width:200px;">
            				<h:outputText value="#{pessoa.email}" />
        				 </p:column>
 
        				 <p:column headerText="Endereço" style="width:200px;">
            				<h:outputText value="#{pessoa.endereco}" />
        				 </p:column>
 
        				 <p:column headerText="Usuário">
            				<h:outputText value="#{pessoa.usuarioModel.usuario}" />
        				 </p:column>
 
        				 <p:column headerText="" style="width:25px;">
 
        				       <p:commandButton icon="ui-icon-pencil" 
        				    				    title="Editar Registro"                        					 
                        					    ajax="true"                        					 
                        					    actionListener="#{consultarPessoaController.editar(pessoa)}"
                        					    oncomplete="PF('dialog-modal-editar').show();" 
                        					    update="dialog-modal-editar"/>
 
        				 </p:column>
 
        				 <p:column headerText="" style="width:25px;">
 
        				    <p:commandButton icon="ui-icon-trash" 
        				    		     title="Excluir Registro"                        					 
                        					 ajax="true"
                        					 actionListener="#{consultarPessoaController.excluirPessoa(pessoa)}"
                        					 update="@form" />
 
        				 </p:column>
 
			</p:dataTable>
 
		</h:form>
 
	</ui:define>
 
</ui:composition>
</html>