<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
 
	<h:form>
 
		<p:menubar>
			<p:menuitem value="Home" icon="ui-icon-home" url="home.xhtml"/>
			<p:menuitem value="Cadastro" icon="ui-icon-document" url="cadastrarPessoa.xhtml"/>
			<p:menuitem value="Consulta" icon="ui-icon-document" url="consultarPessoa.xhtml"/>
			<p:menuitem value="Imprimir" icon="ui-icon-document" ajax="false" action="#{consultarPessoaController.imprimir()}"/>
 
			<f:facet name="options">            
				<p:commandButton value="Logout" icon="ui-icon-extlink" action="#{usuarioController.logout}"/>
        	</f:facet>
		</p:menubar>
 
	</h:form>
 
</html>